<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Добавить Фильм</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3">Добавить участника к фильму</h3>
  <form style="max-width: 50vw" method="POST" th:action="@{/films/addDir}"  >
    <div class="mb-3">
      <label for="films" class="form-label">Фильм</label>
      <select class="form-select" name="film" id="films">
        <option selected>Выберете фильм из списка:</option>
        <option th:each="film  : ${films}"
                th:value="${film.getId()}" th:text="${film.getTitle()}"></option>
      </select>
    </div>
    <div class="mb-3">
      <label for="genre" class="form-label">Участник</label>
      <select class="form-select" name="director" id="genre">
        <option selected>Выберете участника из списка:</option>
        <option th:each="director  : ${directors}"
                th:value="${director.getId()}" th:text="${director.getDirectors_fio()}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
  </form>
</div>
</body>
</html>